bo/* Estilos específicos para la página de productos disponibles */

.producto-card {
  display: flex;
  flex-direction: column;
}

.producto-imagen {
  max-height: 200px;
  object-fit: contain;
}

.producto-titulo {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.producto-descripcion {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 0.75rem;
  flex-grow: 1; /* Para que la descripción ocupe espacio si el contenido es corto */
}

.producto-precio {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.producto-stock {
  font-size: 0.8rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

/* Ajustes para el botón "Añadir al Carrito" si deseas personalizarlo más */
.agregar-carrito {
  font-size: 0.9rem;
}

/* Puedes añadir más estilos aquí según sea necesario */